{% extends 'index/index.html' %}
{% block body %}
<link rel="stylesheet" href="static/css/login.css"/>


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Login</title>
   
</head>
<body>

    <div class="login-container">
        <h3>Iniciar sesión</h3>
        <form id="loginForm">
            <input type="text" id="username" placeholder="Usuario" required>
            <input type="password" id="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
            <p class="error-message" id="errorMessage">Usuario o contraseña incorrectos.</p>
        </form>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Aquí puedes agregar la lógica de autenticación
            if (username === 'admin' && password === '1234') {
                alert('Bienvenido!');
            } else {
                document.getElementById('errorMessage').style.display = 'block';
            }
        });
    </script>

</body>
</html>



<!-- <script src="static/js/jquery.1.8.3.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/featherlight.min.js"></script>
<script src="static/js/featherlight.gallery.min.js"></script>
<script src="static/js/jquery.enllax.min.js"></script>
<script src="static/js/jquery.scrollUp.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/jquery.stickyNavbar.min.js"></script>
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/images-loaded.min.js"></script>
<script src="static/js/lightbox.min.js"></script>
<script src="static/js/site.js"></script> -->
{% endblock %}