

/* .h1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: backInDown 2s infinite;
  animation-delay: 3s; 
}

.animate__animated.animate__backInDown {
  --animate-duration: 5s;
}

:root {
  --animate-duration: 1000ms;
  --animate-delay: 0.5s;
} */

@keyframes backInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.h1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: backInDown 2s infinite; /* Se repite indefinidamente */
  animation-delay: 3s; /* Espera 3 segundos antes de repetir */
}

.animate__animated.animate__backInDown {
  --animate-duration: 5s;
}

:root {
  --animate-duration: 1000ms;
  --animate-delay: 0.5s;
}
