/* centra el html del login */

html, body {
    height: 100%; /* Asegúrate de que el cuerpo y el HTML ocupen toda la altura */
    margin: 0; /* Elimina márgenes por defecto */
}

.row {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura completa de la ventana */
}

.col-lg-4 {
    display: flex; /* Usar flexbox en la columna */
    flex-direction: column; /* Organizar los elementos en columna */
    justify-content: center; /* Centra verticalmente los elementos dentro de la columna */
    align-items: center; /* Centra horizontalmente los elementos dentro de la columna */
    max-width: 400px; /* Ajusta el ancho máximo si es necesario */
    padding: 20px; /* Espaciado interno opcional */
}