/* centra el html del login */

html, body {
    height: 100%;
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.auth-form-light {
    width: 100%; 
    max-width: 400px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    position: relative;
    width: 200px;
    height: 50px;
    background: linear-gradient(179deg, rgba(3, 43, 87, 1) 25%, rgb(0 106 141) 62%) !important;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff; 
    animation: animacion 2s linear infinite;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}

/* aplicando transparencia en el login  */
.login-container {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    max-width: 400px; /* Ancho máximo */
    margin: auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
}

input {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Margen superior e inferior */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

button {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.error-message {
    color: red; /* Color del mensaje de error */
    display: none; /* Ocultar por defecto */
}