/* centra el html del login */

html, body {
    height: 100%; /* Asegúrate de que el cuerpo y el HTML ocupen toda la altura */
    margin: 0; /* Elimina márgenes por defecto */
}

.row {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura completa de la ventana */
}

.col-lg-4 {
    display: flex; /* Usar flexbox en la columna */
    flex-direction: column; /* Organizar los elementos en columna */
    justify-content: center; /* Centra verticalmente los elementos dentro de la columna */
    align-items: center; /* Centra horizontalmente los elementos dentro de la columna */
    max-width: 400px; /* Ajusta el ancho máximo si es necesario */
    padding: 20px; /* Espaciado interno opcional */
}


/* new login */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-image: url(../images/banner-images/banner-image-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    opacity: 0.7;
}

header{
    width: 100%;
    padding: 20px;
    background: #2f3542;
}

.barra-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.barra-nav ul li{
    list-style: none;
    margin: 0 15px;
}

.barra-nav ul li a{
    text-decoration: none;
    color: #fff;
}

.barra-nav ul li a:hover{
    text-decoration: underline;
}

.form-box{
    width: 25%;
    background: #2f3542;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

.form-box {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.form-title{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #000000;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    background: none;
    width: 75%;
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 25px; /*  redondea los bordes del boton */
    color: #000000;  /*  cambia color del texto escrito en los campos de texto */
   
}

.form-box input[type="text"],
.form-box input[type="password"]{
    border: 0px solid #000000;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    outline: none;
    
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width: 90%;
    transition: 0.35s;
}


/* cambia el color de la palabra login a blanco */
.form-box button[type="submit"]{
    border: 1px solid #000000;
    background: none;
    width: 75%;
    padding: 20px;
    margin: 20px auto;
    border: none;
    color: #fff;
    background: linear-gradient(179deg, rgba(3, 43, 87, 1) 25%, rgb(0, 106, 141) 62%);
}

.form-box button[type="submit"]:hover{
    background: #fff;
    color: #2f3542;
    transition: 0.25s;
    cursor: pointer;
}

/* cambia el todo de color del texto: ¿Olvidaste tú contraseña?  */
.form-box a{
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(160, 156, 167);
}

/* genera efecto cambiando de color más intenso del texto: ¿Olvidaste tú contraseña?  */
.form-box a:hover{
    color: #101010;
}

.form{
    animation: backInUp 2s infinite;
    animation-delay: 3s; 
}

.animate__animated.animate__backInUp {
    --animate-duration: 5s; 
  }
  
  :root {
    --animate-duration: 1000ms;
    --animate-delay: 0.5s;
   
  }
  
 /* Estilo responsivo */
@media (max-width: 600px) {
    .form-box {
        width: 90%; /* El formulario ocupa el 90% del ancho en pantallas pequeñas */
    }

    nav a {
        font-size: 1.2em; /* Tamaño de fuente más pequeño en móviles */
    }
}