{% extends 'index/index.html' %}
{% block body %}

<body>
    <!-- <header style="justify-items: center;"> -->
        <header style="justify-items: center;" class="animate__animated animate__backInUp">
        <span class="navbar" id="btnMenu"><i class="fa fa-bars"></i></span>
        <nav class="nav">
            <ul class="menu" id="menu">
                <li class="menuLi"><a href="#" class="menuLink">Inicio</a></li>
                <li class="menuLi"><a href="#" class="menuLink">Servicios</a></li>
                <li class="menuLi"><a href="#" class="menuLink">Galeria</a></li>
                <li class="menuLi"><a href="#" class="menuLink">Otras actividades</a></li>
                <li class="menuLi"><a href="#" class="menuLink">Visor geogràfico</a></li>
                <li class="menuLi"><a href="#" class="menuLink">Contatos</a></li>
                <li class="menuLi contenedorSubmenu">
                    <a href="#" class="menuLink btnSubmenu">Productos <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li class="menuLi"><a href="#" class="menuLink">Producto1</a></li>
                        <li class="menuLi"><a href="#" class="menuLink">Producto2</a></li>
                        <li class="menuLi"><a href="#" class="menuLink">Producto3</a></li>
                        <li class="menuLi"><a href="#" class="menuLink">Producto4</a></li>
                    </ul>
                </li>
               
                <li class="menuLi"><a href="#" class="menuLink">Usuarios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <row>
                <div class="col-md-12 animate__animated animate__backInUp">
                    <h1>Titulo de la pagina</h1>
                </div>
            </row>
        </section>
    </main>
    
    <footer>
        
    </footer>

    <script src="static/js/jsmenuIndexPpal/app.js"></script>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const btnSubmenu = document.querySelector('.btnSubmenu');
        const submenu = document.querySelector('.submenu');
        btnSubmenu.addEventListener('click', function(event) {
            event.preventDefault(); // Evitar el comportamiento por defecto del enlace
            submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block'; // Alternar la visibilidad del submenu
        });
    });
</script>



{% endblock %}