{% extends 'index/index.html' %}
{% block body %}

<link rel="stylesheet" href="static/css/registrar.css">
<body>
    <header>
        <nav style="text-align: center;">
            <ul class="animate__animated animate__backInUp">
                <a style="text-align: center;">Registro de usuarios</a>
            </ul>
        </nav>
    </header>
    <main id="content">
        <form action="registrar.html" class="form-box animate__animated animate__backInUp">
            <div clas="row">
                <div class="col-md-4">
                    <label class="form-control text-center">Nombres</label>
                    <input type="text" class="form-control form-control-lg" id="Nombres" name="Nombres"
                        placeholder="escribe tus nombres">
                </div>
                <div class="col-md-4">
                    <label class="form-control text-center">Apellidos</label>
                    <input type="text" class="form-control form-control-lg" id="Apellidos" name="Apellidos"
                        placeholder="escribe tus apellidos">
                </div>
                <div class="col-md-4">
                    <label class="form-control text-center">Usuario</label>
                    <input type="text" class="form-control form-control-lg" id="Usuario" name="Usuario"
                        placeholder="crea tú usuario">
                </div>
            </div>
            <div clas="row">
                <div class="col-md-4">
                    <label class="form-control text-center">Correo electrónico</label>
                    <input type="text" class="form-control form-control-lg" id="Correo_electronico" name="Correo_electronico" placeholder="correo electrónico">
                </div>
                <div class="col-md-4">
                    <label class="form-control text-center">confirma correo</label>
                    <input type="text" class="form-control form-control-lg" id="Correo_electronico1" name="Correo_electronico1" placeholder="confirma correo">
                </div>
                <div class="col-md-4">
                    <label class="form-control text-center">Teléfono celular</label>
                    <input type="number" class="form-control form-control-lg" id="Telefono_celular" name="Telefono_celular" placeholder="teléfono celular">
                </div>
            </div>
           
           
           
           
            
            
            <div class="form-control">
                <select name="Id_pais" class="js-example-basic-single w-100" id="Id_pais" style="color: aliceblue;">
                    <option id="Id_pais" value="0">Selecciona país...</option>
                </select>
            </div>
            <div class="form-control">
                <select name="Id_dpto" id="Id_dpto" class="js-example-basic-single w-100" style="color: aliceblue;">
                    <option id="Id_dpto" value="0">Selecciona departamento...</option>
                </select>
            </div>
            <div class="form-control">
                <select name="Id_Mpios" id="Id_Mpios" class="js-example-basic-single w-100" style="color: aliceblue;">
                    <option id="Id_Mpios" value="0">Selecciona municipio</option>
                </select>
            </div>
            <input type="password" class="form-control form-control-lg" id="Pass1" name="Pass1" placeholder="crea tú password">
            <input type="password" class="form-control form-control-lg" id="Pass2" name="Pass2" placeholder="confirma tú password">
            <input type="text" id="captcha-input" name="captcha-input" class="form-control" width="20px" height="20px"
              placeholder="Escribe captcha">
                <table>
                  <tr>
                    <th> <button type="submit" id="Validar-captcha">
                        Validar</button>
                    </th>
                    <th><button type="submit" id="refresh-captcha">Refresh</button>
                    </th>
                  </tr>
                </table>
            <button type="submit" name="boton_gral" id="idboton">Registrar usuario</button>
        </form>
    </main>
   
</body>
{% endblock %}
