{% extends 'index/index.html' %}
{% block body %}

<link rel="stylesheet" href="static/css/registrar.css">
<body>
    <header>
        <nav style="text-align: center;">
            <ul class="animate__animated animate__backInUp">
                <a style="text-align: center;">Registro de usuarios</a>
            </ul>
        </nav>
    </header>
    <main id="content">
        <form action="registrar.html" class="form-box animate__animated animate__backInUp">
            <input type="text" class="form-control form-control-lg" id="Nombres" name="Nombres" placeholder="Escribe tus nombres">
            <input type="text" class="form-control form-control-lg" id="Apellidos" name="Apellidos" placeholder="Escribe tus apellidos">
            <input type="text" class="form-control form-control-lg" id="Usuario" name="Usuario" placeholder="Crea tú usuario">
            <input type="text" class="form-control form-control-lg" id="Correo_electronico" name="Correo_electronico" placeholder="Escribe tú correo electronico">
            <input type="text" class="form-control form-control-lg" id="Correo_electronico1" name="Correo_electronico1" placeholder="Confirma tú correo electronico">
            <input type="text" class="form-control form-control-lg" id="Telefono_celular" name="Telefono_celular" style="color: aliceblue;" placeholder="Escribe teléfono celular">
            <div class="form-control">
                <select name="Id_pais" class="js-example-basic-single w-100" id="Id_pais" style="color: aliceblue;">
                    <option id="Id_pais" value="0">Selecciona el país...</option>
                </select>
            </div>
            <div class="form-control">
                <select name="Id_dpto" id="Id_dpto" class="js-example-basic-single w-100" style="color: aliceblue;">
                    <option id="Id_dpto" value="0">Selecciona el departamento...</option>
                </select>
            </div>
            <div class="form-control">
                <select name="Id_Mpios" id="Id_Mpios" class="js-example-basic-single w-100" style="color: aliceblue;">
                    <option id="Id_Mpios" value="0">Selecciona el municipio</option>
                </select>
            </div>
            <input type="password" class="form-control form-control-lg" id="Pass1" name="Pass1" placeholder="Crea tú password">
            <input type="password" class="form-control form-control-lg" id="Pass2" name="Pass2" placeholder="confirma tú password">
            <input type="text" id="captcha-input" name="captcha-input" class="form-control" width="20px" height="20px"
              placeholder="Escribe captcha">
                <table>
                  <tr>
                    <th> <button type="submit" class="btn btn-outline-secondary btn-md"
                        style="background: linear-gradient(179deg, rgba(3,43,87,1) 25%, rgb(0 106 141) 62%) !important;"><i
                          class="mdi mdi-skip-next"> Validar captcha</i></button></th>
                    <th><button type="submit" id="refresh-captcha" class="btn btn-outline-secondary btn-md"
                        style="background: linear-gradient(179deg, rgba(3,43,87,1) 25%, rgb(0 106 141) 62%) !important;"><i
                          class="mdi mdi-skip-next"> Refresh captcha</i></button></th>
                
                  </tr>
                </table>
            <button type="submit">Login</button>
        </form>
    </main>
   
</body>
{% endblock %}
